<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>LE MONDE DES VOITURE</title>

  {% load static%}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  {% block extra_css %} {% endblock %}
</head>

<body>
  <div class="logo">
    <img src="{% static 'app/img/LOGO.JPG' %}" alt="LOGO" height="200px" />
  </div>
  <footer class="pie">
    <!-- derechos -->
    <p>© LE MONDE DES VOITURE. Todos los derechos reservados.</p>
  </footer>

  <div class="row" style="margin-left: 750px">
    <h1 class="titulo">LE MONDE DES VOITURE</h1>

    <hr class="liena" size="delgada" />
    <!--IMAGENES Y MENU-->
  </div>

  <div id="contenido">
    {% block contenido %} {% endblock %}
  </div>

  <div>
    <hr class="liena" size="delgada" />
    <footer class="fin">
      <h2 class="fra">LE MONDE DES VOITURE</h2>
      <p>© LE MONDE DES VOITURE. Todos los derechos reservados.</p>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>