{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<!-- IMAGENES Y MENU -->
<div class="slider-cotainer">
    <section class="hero-section">
        <div class="card-grid">
            <a class="card" href="{% url 'inicio'%}">
                <div class="card__background" style="background-image:none"> <img
                        src="{% static 'app/img/sinlogo.jpg' %}" alt="INICIO" width="333px" height="500px">

                </div>
                <div class="card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">INICIO</h3>
                </div>
            </a>
            <a class="card" href="{% url 'acercade'%}">
                <div class="card__background" style="background-image:none"> <img
                        src="{% static 'app/img/ACERCADE.jpg' %}" alt="ACERCADE" width="333px" height="500px">
                </div>
                <div class="card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">ACERCA DE </h3>
                </div>
            </a>
            <a class="card" href="{% url 'servicio'%}">
                <div class="card__background" style="background-image:none"><img src="{% static 'app/img/nose.jpg' %}"
                        alt="SERVICIOS" width="333px" height="500px">
                </div>
                <div class="card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">SERVICIOS</h3>
                </div>
            </a>
            </li>
            <a class="card" href="{% url 'contacto'%}">
                <div class="card__background" style="background-image:none"><img
                        src="{% static 'app/img/contacto.jpg' %}" alt="CONTACTO" width="333px" height="500px">
                </div>
                <div class=" card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">CONTACTO</h3>
                </div>
            </a>
            </li>
            <a class="card" href="{% url 'register'%}">
                <div class="card__background" style="background-image:none"><img
                        src="{% static 'app/img/registro.jpg' %}" alt="registro" width="333px" height="500px">
                </div>
                <div class=" card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">REGISTRO</h3>
                </div>
            </a>


        </div>

        {% endblock %}